[Desktop Entry]
Type=Application
Version=1.1
Name=Krynet
GenericName=Secure Web Client
Comment=Privacy-first network native client for Krynet
Exec=krynet %u
Icon=ai.krynet.Client
Terminal=false
Categories=Network;WebBrowser;
Keywords=krynet;secure;network;crypto;
StartupWMClass=krynet
